---
import Discussion from "../../layouts/discussion/Discussion.astro";

interface DiscussionTopic {
  id: number;
  date: string;
  user: string;
  title: string;
  tags: string;
  description: string;
}

const response: Response = await fetch("https://67623fba46efb3732374020a.mockapi.io/slowcialapi/Discussion");
const topics: DiscussionTopic[] = await response.json();

topics.map((topic) => ({
  params: { id: topic.id },
}));

const { id } = Astro.params;
const curr_topic = topics.find((curr_topic) => String(curr_topic.id)=== id!);
if (!curr_topic) return Astro.redirect("/404");
---

<div>
  <p>"Page for a specific discussion"</p>
  <p>{curr_topic.id} | {curr_topic.date} | {curr_topic.user}</p>
  <!-- <ul>
      {topic.map((t) => (
        <li>{t}</li>
      ))}
    </ul> -->
</div>
