---
import { config } from "../../config";

import BaseLayout from "../../layouts/BaseLayout.astro";

import Topic from "../../components/discussion/Topic.astro";
import Response from "../../components/discussion/Response.astro";

const response: Response = await fetch(`${config.apiRoot}/Discussion`);
const topics: DiscussionTopic[] = await response.json();

topics.map((topic) => ({
  params: { id: topic.id },
}));

const { id } = Astro.params;
const currTopic = topics.find((curr_topic) => String(curr_topic.id) === id!);
if (!currTopic) return Astro.redirect("/404");

const response2: Response = await fetch(`${config.apiRoot}/Discussion/${id}/Response`);
const topicResponses: DiscussionResponse[] = await response2.json();
---

<BaseLayout title={`Discussion #${id}`}>
  <div>
    <Topic {...currTopic} />
    <ul>
      {
        topicResponses.map((item) => (
          <li>
            <Response {...item} />
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
