---
import BaseLayout from "../../layouts/BaseLayout.astro"
import Topic from "../../components/discussion/Topic.astro"
import Response from "../../components/discussion/Response.astro"


interface Props {
    id: number;
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
  }


const {id, date, user, title, tags, description} = Astro.props

// TODO should be pulling some data here..
---
<div>
  <Topic {...Astro.props}></Topic>
    <!-- <Response></Response> -->
</div>

