---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro"

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---
<BaseLayout title="Index">
	<div class="div">Hi, im the index</div>
</BaseLayout>

