---
import { convertIsoDate } from "../../helpers/helpers";

interface Props {
  date: string;
  user: string;
  title: string;
  tags: string;
}

const { date, user, title, tags } = Astro.props;
---

<div class="mb-2">
  <p class="text-sm font-bold">{convertIsoDate(date)} | {user}</p>
  <h1 class="font-bold">{title}</h1>
  <p class="text-sm font-bold">{tags}</p>
</div>
