---
import Heading from "./Heading.astro";

interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
    references: string;
}



const { date, user, title, tags, description, references } = Astro.props;
---

<div>
  <Heading {...Astro.props} />
  <p>{description}</p>
  <p>{references}</p>
</div>
