---
import Heading from "./Heading.astro";
import { limitTextCharacters } from "../../helpers/helpers";

interface Props extends DiscussionResponse {}

const { description, references } = Astro.props;

---



<div>
  <div class="mb-8 ml-6 border-l-2 border-black pl-2">
    <Heading {...Astro.props} />
    <p class="text-sm mb-4">{limitTextCharacters(description, 250)}</p>
    <button class="read-more text-sm py-1 mb-2 underline">Read More</button>
    <!-- <p class="text-sm mt-2">{references}</p> -->
  </div>
  <dialog>
    <div class="p-4">
      <Heading {...Astro.props} />
      <p class="text-sm mb-4">{description}</p>
      <p class="text-sm my-2">{"References: " + references}</p>
      <button class="close p-1 bg-blue-400">Close</button>
    </div>
  </dialog>
</div>

<script>
  const dialogs = document.querySelectorAll("dialog");
  const readMoreButtons = document.querySelectorAll("button.read-more");
  const closeButtons = document.querySelectorAll("button.close");

  // "Show the dialog" button opens the dialog modally
  readMoreButtons!.forEach((button) => {
    const currDialog = button.closest("dialog")
    console.log(button, currDialog)
    button.addEventListener("click", () => {
      // dialog.showModal();
    });
  });

  // // "Close" button closes the dialog
  // closeButtons!.addEventListener("click", () => {
  //   dialogs!.close();
  // });
</script>
