---
import Heading from "./Heading.astro";
import { limitTextCharacters } from "../../helpers/helpers";

interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
    references: string;
}


const {description, references } = Astro.props;
---

<div class="mb-6 ml-6 border-l-2 border-black pl-2">
  <Heading {...Astro.props} />
  <p class="text-sm">{limitTextCharacters(description, 250)}</p>
  <!-- <p class="text-sm mt-2">{references}</p> -->
</div>
