---
import Heading from "./Heading.astro";

interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
}

const {description} = Astro.props;
---

<div class="mb-4">
<Heading  {...Astro.props} ></Heading>
<p class="text-sm">{description}</p>
</div>
