---
import Heading from "./Heading.astro";

interface Props extends DiscussionTopic {}

const { description } = Astro.props;
---

<div class="mb-4">
  <Heading {...Astro.props} />
  <p class="text-sm">{description}</p>
</div>
