---
import Heading from "./Heading.astro";

interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
}
// const date = "December 18, 2024";

// const user = "Peter Okonkwo";

// const title = "When building new homes, what do developers struggle with?";

// const tags = ["housing", "finance"];

// const description = "In my 18 years working with housing finance proplems, I've observed notable inequalities in how finance is dibursed. I have the perspective of a banker, but wonder if developers could chime in with their biggest challenges"

const {description} = Astro.props;
---

<div>
<Heading  {...Astro.props} ></Heading>
<p>{description}</p>
</div>
