---
import Heading from "./Heading.astro";

interface Props {
    date: string;
    user: string;
    title: string;
    tags: string;
    description: string;
}

const {description} = Astro.props;
---

<div>
<Heading  {...Astro.props} ></Heading>
<p>{description}</p>
</div>
